[Unit]
Description=BnpPoc.Api ({{ artifact_version }})
After=network.target

[Service]
WorkingDirectory=/opt/bnppoc-api/current
ExecStart=/usr/local/bin/dotnet /opt/bnppoc-api/current/BnpPoc.Api.dll
Restart=always
User=deploy
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000
Environment="ConnectionStrings__BnpPocDb=Server=sqlserver,1433;Database=BnpPocDb;User Id=sa;Password=BnpP0c!Local;TrustServerCertificate=True;"

[Install]
WantedBy=multi-user.target
